In [1]:
import datetime
from datetime import timedelta

import pandas as pd
import pyodbc
import sqlalchemy as db

import itertools
import investpy
import pandas_datareader.data as pdr


today = datetime.date.today()

In [ ]:
connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=xxx;DATABASE=xxx;UID=xxx;PWD=xxx')
cursor = connection.cursor()

In [ ]:
tabelka_id = pd.read_excel(
    r'....idbenchmark.xlsx')

In [ ]:
last_date = []
tabelka_id['Last date'] = 'nan'
for idek in tabelka_id['id']:
    cursor.execute(f'select top 1 date from Tam_bloomberg_data where securityid = {idek} order by date desc')
    for row in cursor:     
        tabelka_id['Last date'][tabelka_id['id'].isin([idek])] = row[0] + timedelta(days=1)
    connection.commit()
tabelka_id

In [5]:
def download_invest(index,today,last_date):
    search_result = investpy.search_quotes(text=index,products=['indices']
                                       , n_results=1)
    if index == 'MSCI Emerging Markets' or index == 'MSCI EM Net USD':
        search_result.country = 'world'
    last_date = str(last_date.strftime('%d/%m/%Y'))
    today = str(today.strftime('%d/%m/%Y'))
    df = investpy.get_index_historical_data(index=index,
                                        country=search_result.country,
                                        from_date=last_date,
                                        to_date=today,
                                       ).reset_index()
#     i = df['Date'],df['Close']
    return df['Date'],df['Close']

In [6]:
def download_stooq(index,today,last_date):

    df = pdr.DataReader(index,'stooq',last_date,today).reset_index()
#     s = df['Date'],df['Close']
    return df['Date'],df['Close']

In [7]:
def fred(index,last_date):
    df = pdr.DataReader(index,'fred',last_date).reset_index()
    return df['DATE'] ,df['GOLDAMGBD228NLBM']

In [8]:
def insertowanie(index,date,value):
    insert_value_price = [index,date,value]
    insert_query_price ='''insert into Tam_Bloomberg_data (securityid, Date, Value) 
    VALUES (?,?,?);'''


    cursor.execute(insert_query_price,insert_value_price)
    connection.commit()

In [9]:
insertki = []
for index,row in tabelka_id.iterrows():
    if row['Source'] == 'stooq':
        date, close = download_stooq(row['Ticker'],today,row['Last date'])
        insertki.append([row['id'], date, close])
    elif row['Source'] == 'invest':
        print(row['Ticker'])
        date, close = download_invest(row['Ticker'],today,row['Last date'])
        insertki.append([row['id'], date, close])
#     elif row['Source'] == 'fred':
#         date, close = fred(row['Ticker'],row['Last date'])
#         if close is str:
#             close = 0
#         else: 
#             continue
        insertki.append([row['id'], date, close])
    else:
        continue

MSCI EM Net USD
MSCI India Net USD
MSCI China Net USD
Investor MS
MSCI Emerging Markets
MSCI Turkey

In [10]:
insertki

[[176,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     504.08
  1     501.93
  2     510.60
  3     512.95
  4     512.05
  5     511.69
  6     512.41
  7     509.43
  8     505.38
  9     500.58
  10    499.42
  11    497.24
  12    506.56
  13    508.12
  14    500.63
  15    501.20
  16    501.91
  Name: Close, dtype: float64],
 [176,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     504.08
  1     501.93
  2     510.60
  3     512.95
  4     512.05
  5     511.69
  6     512.41
  7     509.43
  8     505.38
  9     500.58
  10    499.42
  11    497.24
  12    506.56
  13    508.12
  14    500.63
  15    501.20
  16    501.91
  Name: Close, dtype: float64],
 [177,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-16
  5    2022-08-17
  6    2022-08-18
  7    2022-08-19
  8    2022-08-22
  9    2022-08-23
  10   2022-08-24
  11   2022-08-25
  12   2022-08-26
  13   2022-08-29
  14   2022-08-30
  15   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     953.23
  1     954.50
  2     960.32
  3     963.05
  4     971.87
  5     981.79
  6     980.07
  7     968.55
  8     952.29
  9     956.88
  10    959.11
  11    954.51
  12    957.11
  13    944.74
  14    974.02
  15    974.02
  Name: Close, dtype: float64],
 [177,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-16
  5    2022-08-17
  6    2022-08-18
  7    2022-08-19
  8    2022-08-22
  9    2022-08-23
  10   2022-08-24
  11   2022-08-25
  12   2022-08-26
  13   2022-08-29
  14   2022-08-30
  15   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     953.23
  1     954.50
  2     960.32
  3     963.05
  4     971.87
  5     981.79
  6     980.07
  7     968.55
  8     952.29
  9     956.88
  10    959.11
  11    954.51
  12    957.11
  13    944.74
  14    974.02
  15    974.02
  Name: Close, dtype: float64],
 [178,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     485.11
  1     477.23
  2     490.39
  3     492.40
  4     489.29
  5     485.11
  6     486.29
  7     483.28
  8     482.33
  9     481.92
  10    480.03
  11    473.92
  12    493.34
  13    496.78
  14    493.27
  15    490.89
  16    493.34
  Name: Close, dtype: float64],
 [178,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     485.11
  1     477.23
  2     490.39
  3     492.40
  4     489.29
  5     485.11
  6     486.29
  7     483.28
  8     482.33
  9     481.92
  10    480.03
  11    473.92
  12    493.34
  13    496.78
  14    493.27
  15    490.89
  16    493.34
  Name: Close, dtype: float64],
 [186,
  0   2022-08-11
  Name: Date, dtype: datetime64[ns],
  0    4877.17
  Name: Close, dtype: float64],
 [186,
  0   2022-08-11
  Name: Date, dtype: datetime64[ns],
  0    4877.17
  Name: Close, dtype: float64],
 [181,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     1001.69
  1      997.20
  2     1014.29
  3     1016.83
  4     1015.00
  5     1014.22
  6     1015.59
  7     1009.58
  8     1001.46
  9      991.90
  10     989.54
  11     985.13
  12    1003.44
  13    1006.50
  14     991.65
  15     992.76
  16     994.11
  Name: Close, dtype: float64],
 [181,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-30
  16   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     1001.69
  1      997.20
  2     1014.29
  3     1016.83
  4     1015.00
  5     1014.22
  6     1015.59
  7     1009.58
  8     1001.46
  9      991.90
  10     989.54
  11     985.13
  12    1003.44
  13    1006.50
  14     991.65
  15     992.76
  16     994.11
  Name: Close, dtype: float64],
 [189,
  0    2022-08-31
  1    2022-08-30
  2    2022-08-29
  3    2022-08-26
  4    2022-08-25
  5    2022-08-24
  6    2022-08-23
  7    2022-08-22
  8    2022-08-19
  9    2022-08-18
  10   2022-08-17
  11   2022-08-16
  12   2022-08-12
  13   2022-08-11
  Name: Date, dtype: datetime64[ns],
  0     1720.32
  1     1723.11
  2     1709.99
  3     1717.92
  4     1719.88
  5     1714.18
  6     1718.47
  7     1726.74
  8     1736.40
  9     1745.72
  10    1750.23
  11    1762.47
  12    1771.68
  13    1767.45
  Name: Close, dtype: float64],
 [191,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     2919657.0
  1     2979528.0
  2     3048597.0
  3     3033611.0
  4     3006312.0
  5     3090699.0
  6     3176723.0
  7     3241718.0
  8     3221302.0
  9     3259736.0
  10    3351634.0
  11    3278603.0
  12    3369424.0
  13    3358800.0
  14    3385663.0
  15    3354906.0
  Name: Close, dtype: float64],
 [191,
  0    2022-08-09
  1    2022-08-10
  2    2022-08-11
  3    2022-08-12
  4    2022-08-15
  5    2022-08-16
  6    2022-08-17
  7    2022-08-18
  8    2022-08-19
  9    2022-08-22
  10   2022-08-23
  11   2022-08-24
  12   2022-08-25
  13   2022-08-26
  14   2022-08-29
  15   2022-08-31
  Name: Date, dtype: datetime64[ns],
  0     2919657.0
  1     2979528.0
  2     3048597.0
  3     3033611.0
  4     3006312.0
  5     3090699.0
  6     3176723.0
  7     3241718.0
  8     3221302.0
  9     3259736.0
  10    3351634.0
  11    3278603.0
  12    3369424.0
  13    3358800.0
  14    3385663.0
  15    3354906.0
  Name: Close, dtype: float64],
 [182,
  0    2022-08-31
  1    2022-08-30
  2    2022-08-29
  3    2022-08-26
  4    2022-08-25
  5    2022-08-24
  6    2022-08-23
  7    2022-08-22
  8    2022-08-19
  9    2022-08-18
  10   2022-08-17
  11   2022-08-16
  12   2022-08-15
  13   2022-08-12
  14   2022-08-11
  Name: Date, dtype: datetime64[ns],
  0     1154.05
  1     1163.59
  2     1156.83
  3     1162.13
  4     1189.35
  5     1184.85
  6     1182.37
  7     1184.62
  8     1215.56
  9     1231.01
  10    1226.03
  11    1251.70
  12    1244.35
  13    1243.86
  14    1237.07
  Name: Close, dtype: float64]]

In [11]:
t=0
while t < len(insertki):
    for i,d,v in zip(itertools.repeat(insertki[t][0],len(insertki[t][1])),insertki[t][1],insertki[t][2]):
        insertowanie(i,d,v)
    t+=1

In [29]:
# last_date = tabelka_id['Last date'][4]
# download_invest('IMS',today,last_date)

RuntimeError: ERR#0045: index ims not found, check if it is correct.

In [13]:
tabelka_id

     id  Source                 Ticker            Last date
0   176  invest        MSCI EM Net USD  2022-08-09 00:00:00
1   177  invest     MSCI India Net USD  2022-08-09 00:00:00
2   178  invest     MSCI China Net USD  2022-08-09 00:00:00
3   179    fred       GOLDAMGBD228NLBM  2022-08-11 00:00:00
4   186  invest            Investor MS  2022-08-11 00:00:00
5   181  invest  MSCI Emerging Markets  2022-08-09 00:00:00
6   189   stooq                  ^TBSP  2022-08-11 00:00:00
7   192  client                 Robert  2022-07-30 00:00:00
8   175  client            MSCI Russia  2022-03-09 00:00:00
9   191  invest            MSCI Turkey  2022-08-09 00:00:00
10  182   stooq                  ^CDAX  2022-08-11 00:00:00

In [14]:
# delete duplicated values

# WITH CTE(securityid, 
#     date ,
# 	duplicatecount)

# AS (SELECT securityid, 
#            date ,
#            ROW_NUMBER() OVER(PARTITION BY securityid, 
#                                           date
#            ORDER BY ID) AS DuplicateCount
#     FROM Tam_Bloomberg_data)
# DELETE FROM CTE
# WHERE DuplicateCount > 1